@model CourseWork.Models.LoginModel

@{
    ViewBag.Title = "Вход в систему";
}

<h2>Вход</h2>


@using (Html.BeginForm(new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="container-fluid d-flex h-100 justify-content-center align-items-center p-0">
            @Html.ValidationSummary()
            <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
            <p>
                <label>Email</label><br />
                @Html.EditorFor(x => x.Email)
            </p>
            <p>
                <label>Пароль</label><br />
                @Html.EditorFor(x => x.Password)
            </p>
            <p><button type="submit">Войти</button></p>
            <p>
                <label> У вас нет еще аккаунта? </label>
                <button>@Html.ActionLink("Зарегистрироваться", "Register", "Account")</button>
            </p>
        </div>

    
   
}
